.App {
  .header {
    padding: 20px;    
    background-color: lightgray;
    
    .Link {
      margin-right: 10px;
      color: #000;
      text-decoration: none;
    }
  }

  .body {
    padding: 20px;
  }
}
